#ifndef SECRETS_H
#define SECRETS_H

// WiFi credentials
#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"

// MQTT broker settings
#define MQTT_SERVER "YOUR_MQTT_BROKER_IP"
#define MQTT_PORT 1883
#define MQTT_USER ""
#define MQTT_PASSWORD ""

#endif
